<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633599610223-magqhroi1441j8gksobtsad96p7oa84d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633599610223-magqhroi1441j8gksobtsad96p7oa84d</string>
	<key>API_KEY</key>
	<string>AIzaSyA66LLFwG-2DqFiK9DujYnbfIoRXIg7Y7A</string>
	<key>GCM_SENDER_ID</key>
	<string>633599610223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marwan.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-6392d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-6392d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633599610223:ios:c3b4fdc54cafa2cd7e6c9a</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-6392d.firebaseio.com</string>
</dict>
</plist>